<p id="notice"><%= notice %></p>

<p>
  <strong>つぶやき:</strong>
  <%= @post.content %>
</p>

<button type="button" class="btn btn-warning btn-xs"><%= link_to 'つぶやきを編集する', edit_post_path(@post) %></button> |
<button type="button" class="btn btn-primary btn-xs"><%= link_to '一覧に戻る', posts_path %></button>
