// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
    font-size:20px;
    font-weight:bold;
    text-align:center;
    background-color: #2c3e50;
    color: #ffffff;
}

header {
  width: 100%;
  text-align:center;
  background-color: #2c3e50;
  height: 54px;
  color: white;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0px;
  text-align: center;
  color: white;
  background-image: url('header.jpg');
}


footer {
  width: 100%;
  text-align:center;
  background-color:#2c3e50;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}
